@import url(reset.css);
@import url(header.css);
@import url(body.css);

body{
    background-color: rgb(201, 219, 220);
    color:rgb(33, 33, 36);
    font-family: 'Raleway';
    line-height: 1;
    overflow-x: hidden;   
}

main{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

button{
    font-size: 1em;
    border: 2px firebrick;
    border-radius: 4px;
    box-shadow: 2px yellowgreen;
    color: rgb(74, 21, 199);
    background-color: beige;
}
button:hover{
    background-color: rgb(89, 141, 246);
}

nav li{
    display: inline ;
    margin-inline-end: 8%;
}
nav a{
    text-transform: uppercase;
    color: rgb(33, 8, 92);
    font-weight: bolder;
    font-size: 15px;
    text-decoration: none;    
}

.title__profile{
    width: 10%;
    border-color: rgb(10, 20, 208);
    border-radius: 5em;
    border-style:dotted;
}

.title li {
    display: inline ;
    margin-inline-end: 5%;
}

img{
    width: 5%;
}
